# Dependency directories
node_modules/
jspm_packages/

# Build outputs
target/
build/
dist/
out/
bin/
*.class
*.jar
*.war
*.ear

# IDEs and editors
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
